body {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  background: #f9f7fe;
}

.weather-app-wrapper {
  max-width: 650px;
  margin: 0 auto;
}
.weather-app {
  max-width: 650px;
  margin: 30px auto;
  margin-bottom: 0;
  padding: 40px;
  /* border: 1px solid #dadde1; */
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  color: #878787;
  background: #fff;
}

h1 {
  color: #272142;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  padding-top: 10px;
}

.overview {
  display: flex;
  align-items: center;
}

.overview-img {
  padding-right: 10px;
}

.overview-details {
  padding-top: 0;
}

.col-md-6 {
  padding: 0;
}

.current-temp {
  font-size: 80px;
  color: #272142;
}

.units {
  position: relative;
  top: -34px;
  font-size: 28px;
}

.units a {
  text-decoration: none;
  cursor: default;
}

.units .active {
  color: #272142;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.humidity,
.wind {
  color: #f65282;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: #000;
}

.weather-forecast-temp {
  font-size: 13px;
  color:#000;
}

.weather-forecast-min {
  color: #000;
  opacity: 0.6;
}
